/*
 *
 *  GLOBAL FONTS
 *
 */
@font-face {
    font-family: 'Circular-bold';
    src: url('../fonts/glacialindifference-bold-webfont.eot');
    src: url('../fonts/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
         url('../fonts/glacialindifference-bold-webfont.ttf') format('truetype'),
         url('../fonts/glacialindifference-bold-webfont.svg#glacial_indifferencebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/glacialindifference-regular-webfont.eot');
    src: url('../fonts/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
         url('../fonts/glacialindifference-regular-webfont.ttf') format('truetype'),
         url('../fonts/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas_neue';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
 *
 *  GLOBAL CSS
 *
 */
body *{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#262626;
}
h1, h2, h3, h4, h5, h6{
    font-family: Bebas_neue;
}
/*
 *
 *  NAVBAR
 *
 */
.custom-background{
    background-size: cover;
}
.menu-item-11{
    background-color: #c46543;
    text-align: center;
    line-height: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    margin-top: 10px !important;
    border: none;
}
.menu-item-11 a{
    color:#FFF !important;
}
/*
 *
 *  TITLE
 *
 */

.header-content-wrap .intro-text{
    font-size: 75px;
    text-transform: lowercase;
}
.intro-text-info{
    font-size: 25px;
}
.header-content-wrap .container{
    margin-top: -100px;
    background-color: rgba(235, 235, 235, .7);
    text-shadow: 0px 5px 10px #FFF;
}
.header-content-wrap .form-group{
    border: 1px solid #262626;
    border-radius: 5px !important;
}
.header-content-wrap .input-group .input-group-addon {
    background-color: #FFF;
    border-right: 1px solid #262626;
}
.header-content-wrap input[type="text"]{
    border: none;
    height: 46px !important;
    text-align: center;
    border-radius: 5px;
}
.header-content-wrap .input-group-addon{
    border:none;
}
.header-content-wrap [type="submit"]{
    margin:0;
    background-color:#c46543;
}
/*
 *
 *  FOCUS
 *
 */
 #focus{
    background-image: url('../images/wood.jpg');
    -webkit-box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    -moz-box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    padding-top: 0;
    padding-bottom: 0;
}
    #focus * {
        color:#FFF;
        text-shadow: 0px 5px 10px #000;
    }
    #focus .dark-text{
        font-size:40px !important;
    }
    #focus .section-header{
        /*padding-top: 15px;*/
        padding-bottom: 0;
        margin-top: 25px;
    }
    #focus .section-legend, 
    #focus .red-border-bottom{
        font-size:22px;
    }
    #focus p{
        font-size:18px;
    }
    #focus .service-icon{
        width:200px;
        height:200px;
    }
    #focus .focus-box{
        margin-bottom: 0;
    }
    #focus .service-icon{
        width:220px;
        height:220px;
    }
    .focus-box .service-icon .pixeden{
        border-radius: 0;
    }
    .focus-box .service-icon{
        border:none;
    }
/*
 *
 *  ABOUT US
 *
 */
.about-us{
    
    margin:0;
    padding:0;
    /*background-image: url('../images/tileable-wood.png');*/
    background:transparent;
}
    .about-us .section-header{
        color: #000 !important;
        position: absolute;
        text-align: left;
        z-index: 2;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

    }
        .about-us .section-header h2{
            margin-top:1%;
            margin-left:1%;
            color: #000 !important;
            text-shadow: 0 0 5px #FFF;
            display: inline-block;
            vertical-align: top;
            padding-bottom:0;
        }
        .about-us .section-legend{
            margin:0;
            display: inline-block;
            vertical-align: top;
            padding: 2px;
            margin-left: 1%;
            margin-right: 1%;
            text-shadow: 0 0 10px #FFF;
            color: #000 !important;
            width:25%;
        }
        @media (max-width: 768px) {
            .about-us .section-legend{
                font-size: 60%;
                width:33%;
                margin:0;
                padding:0;
                margin-left:1%;
            }
        }
        @media (min-width: 480px) {
            .about-us .section-legend{
                font-size: 100%;
            }
        }
        @media (min-width: 768px){
            .about-us .section-legend{
                font-size: 125%;
            }
        }
        @media (min-width: 1024px){
            .about-us .section-legend{
                font-size: 150%;
            }
        }
    .about-us .swiper-container {
        width: 100%;
        height: 100%;
    }
        .about-us .swiper-container .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            background-color: transparent;
            color:#FFF;
        }
        .about-us .swiper-container .swiper-slide img{
            width:100%;
        }
/*        .about-us .swiper-container .swiper-slide .owner-details{
            color: #FFF;
            position: absolute;
            bottom:0;
            left:5%;
            width:90%;
        }
        .about-us .swiper-container .swiper-slide .owner-details.well{
            background-color:rgba(255,255,255,0.5);
            color:#000 !important;
        }
*/

/*
 *
 *  TESTIMONIALS
 *
 */
#testimonials{
    background:none;
}
    #testimonials *{
        color: #262626;
    }
    #testimonials .section-header{
        padding-bottom: 5px;
    }
    #testimonials .client-name{
        font-family: Bebas_neue;
        font-size: 150%;
    }

    #testimonials .container{
        /*background-color: rgba(235, 235, 235, .7);*/
        text-shadow: 0px 5px 10px #FFF;
    }
/*
 *
 *  CHARITY
 *
 */
 #charity{
    background-image: url('../images/gif3.gif');
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    -moz-box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    box-shadow: inset 0 0 50px #262626, inset 0 0 50px #262626, inset 0 0 50px #262626;
    padding-top: 0;
    padding-bottom: 0;
}
    #charity * {
        color:#FFF;
        text-shadow: 0px 5px 10px #000;
    }
        #charity .section-header{
            padding-bottom: 0;
            margin-top: 25px;
        }
        #charity .section-legend{
            font-size:30px;
        }
        #charity .row{
            padding-top: 50px;
            padding-bottom: 35px;
            font-size:30px;
        }
            #charity .row .charity-info{
                color:#000;
                text-shadow: 0px 5px 10px #FFF;
                font-size:22px;
            }
/*
 *
 *  FOOTER
 *
 */
#footer *{
    color:#FFF;
}
